.app {
  display: flex;
  height: calc(100vh - 60px); /* Subtract header height from the total viewport */
  margin-top: 60px; /* Push content below the header */
  width: 100%;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 200px; /* Flex grow, shrink, and basis */
  max-width: 200px;
}

.wordlist {
  flex-grow: 1; /* Take remaining space */
  padding: 20px;
  overflow-y: auto;
}


@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    position: relative;
  }

  .wordlist {
    margin-left: 0;
  }
}
